
@import url('https://fonts.googleapis.com/css2?family=Grey+Qo&family=Pinyon+Script&family=Signika+Negative:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gloock&family=Grey+Qo&family=Pinyon+Script&family=Signika+Negative:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gilda+Display&family=Gloock&family=Grey+Qo&family=Pinyon+Script&family=Signika+Negative:wght@300..700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.pinyon-script-regular {
    font-family: "Pinyon Script", serif;
    font-weight: 400;
    font-style: normal;
  }

  .gloock-regular {
    font-family: "Gloock", serif;
    font-weight: 400;
    font-style: normal;
  }

  .gilda-display-regular {
    font-family: "Gilda Display", serif;
    font-weight: 400;
    font-style: normal;
  }
  